@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  color: var(--secondary-color);
  font-family: 'Ubuntu', sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--main-color);
}

.headline {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
