.fields-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  padding: 30px 5px;
  position: relative;
  gap: 12px;
}
.field {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 10px #0002;
  width: 430px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  background-color: #3D518C;
  border-radius: 4px;
  margin: 20px 10px;
}
.field.enemy {
  cursor: url('../images/aim.png') 15 15, pointer;
}
.wrapper h4 {
  text-align: center;
  padding: 12px;
}
.cell {
  width: 40px;
  height: 40px;
  margin: 1px;
  border-radius: 4px;
  position: relative;
  transition: 0.3s;
}
.cell.empty {
  background-color: #ABD2FA;
}
.cell.empty:hover {
  background-color: #89A9CF;
}
.cell.ship {
  background-color: #F2F2DB;
}
.cell.miss {
  background-color: #fff;
}
.cell.destroyed-ship {
  background-color: #263238;
}
.cell.hit {
  background-color: #e53935;
}
.cell.blocked {
  background-color: #ABD2FA;
}
.cell.miss::before, .cell.miss::after, .cell.hit::before, .cell.hit::after, .cell.blocked::before, .cell.blocked::after {
  content: '';
  background-color: #333;
  width: 2px;
  height: 30px;
  position: absolute;
  left: 19px;
  top: 5px;
  transform: rotate(45deg);
}
.cell.miss::after, .cell.hit::after, .cell.blocked::after {
  transform: rotate(-45deg);
}
.field-window {
  margin-top: 42px;
  height: 430px;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 0 10px #0002;
  position: relative;
  transition: .3s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.field-window ul li {
  list-style: none;
  cursor: pointer;
  margin: 12px;
  text-align: center;
}
.field-window ul li.active {
  color: #555;
}
.ship-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  user-select: none;
  flex-grow: 1;
}
.ship-menu button {
  background-color: #FFB74D;
  border-radius: 5px;
  border: 2px solid #FF9800;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  padding: 12px;
  width: 150px;
  outline: none;
}
.ship-menu button.reset {
  margin-bottom: 10px;
  background-color: #0001;
  color: #091540;
  border-color: #091540;
}
#network-params {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  text-align: right;
}
#opponent-state {
  margin-bottom: 12px;
}
#connection {
  position: relative;
}
#connection .status {
  position: absolute;
  border-radius: 3px;
  width: 16px;
  height: 16px;
  left: -20px;
  top: 1px;
}
#connection .status::before, #connection .status::after {
  content: '';
  background-color: #fff;
  position: absolute;
}
#connection .status.ok {
  background-color: #4CAF50;
}
#connection .status.ok::before, #connection .status.ok::after {
  width: 12px;
  height: 2px;
  transform: rotate(-50deg);
  top: 6px;
  left: 3px;
}
#connection .status.ok::before {
  width: 4px;
  height: 3px;
  transform: rotate(40deg);
  top: 8px;
}
#connection .status.bad {
  background-color: #f44336;
}
#connection .status.bad::before, #connection .status.bad::after {
  width: 12px;
  height: 2px;
  transform: rotate(-45deg);
  top: 7px;
  left: 2px;
}
#connection .status.bad::before {
  transform: rotate(45deg);
}
.modal li {
  list-style: none;
}
#wall {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  cursor: not-allowed;
  display: none;
}
#playerlosses, #opponentlosses {
  margin: 6px 12px;
}
#playerlosses p, #opponentlosses p {
  margin: 4px 0;
}
.field-window h5 {
  margin: 6px 12px;
}
.wrapper:last-child .field-window {
  filter: grayscale(1) blur(2px);
  cursor: not-allowed;
  user-select: none;
}
.field .cell:nth-child(-n + 10)::before {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.field .cell:nth-child(1)::before {
  content: '1';
}
.field .cell:nth-child(2)::before { content: '2'; }
.field .cell:nth-child(3)::before { content: '3'; }
.field .cell:nth-child(4)::before { content: '4'; }
.field .cell:nth-child(5)::before { content: '5'; }
.field .cell:nth-child(6)::before { content: '6'; }
.field .cell:nth-child(7)::before { content: '7'; }
.field .cell:nth-child(8)::before { content: '8'; }
.field .cell:nth-child(9)::before { content: '9'; }
.field .cell:nth-child(10)::before { content: '10'; }

.field .cell:nth-child(10n + 1)::after {
  position: absolute;
  top: 50%;
  left: -21px;
  transform: translateY(-50%);
}
.field .cell:nth-child(1)::after {
  content: 'A';
}
.field .cell:nth-child(11)::after { content: 'B'; }
.field .cell:nth-child(21)::after { content: 'C'; }
.field .cell:nth-child(31)::after { content: 'D'; }
.field .cell:nth-child(41)::after { content: 'E'; }
.field .cell:nth-child(51)::after { content: 'F'; }
.field .cell:nth-child(61)::after { content: 'G'; }
.field .cell:nth-child(71)::after { content: 'H'; }
.field .cell:nth-child(81)::after { content: 'I'; }
.field .cell:nth-child(91)::after { content: 'J'; }