@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu.ttf');
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
  box-sizing: border-box;
  color: var(--secondary-color);
}
body {
  background-color: var(--main-color);
  transition: .3s;
}
.header {
  padding: 20px;
  box-shadow: 0 0 10px #0002;
  position: relative;
}
.header h1 {
  text-align: center;
}
.header h3 {
  margin: 8px;
}
.styled-btn {
  margin-top: 12px;
  padding: 12px;
  background-color: var(--btn-color);
  color: white;
  font-weight: 700;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #0004;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal {
  padding: 50px;
  background-color: var(--main-color);
  border-radius: 20px;
  text-align: center;
}
.modal h3 {
  font-size: 42px;
  margin-bottom: 16px;
}
.modal p {
  font-size: 20px;
  margin-bottom: 8px;
}
#gamelog {
  position: fixed;
  left: 12px;
  bottom: 12px;
  z-index: 999;
}
.log {
  background-color: var(--logs-background-color);
  box-shadow: 0 0 10px #0004;
  padding: 12px;
  border-radius: 12px;
  position: relative;
  padding-right: 36px;
  width: 200px;
  transition: .3s;
  margin-bottom: 6px;
}
.log p {
  color: #091540;
}
.log:nth-last-child() {
  margin-bottom: 0;
}
.log:hover {
  background-color: #f0f0f0;
}
.log button {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}
.log button::before, .log button::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #091540;
  top: 8px;
  left: 1px;
  transform: rotate(45deg);
}
.log button::after {
  transform: rotate(-45deg);

}