<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BattleShip - Lobby</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "stylesheets/light_theme.css" %}" id="current-theme">
  <link rel="stylesheet" href="{% static "stylesheets/main.css" %}">
  <link rel="stylesheet" href="{% static "stylesheets/menu.css" %}">
  <link rel="shortcut icon" href="{% static "images/BattleShip-icon.png" %}" type="image/x-icon">
  {% csrf_token %}
</head>
<body>
  <div class="header">
    <h1>BattleShip</h1>
    <h3>Your id: {{ playerID }}</h3>
  </div>
    <div class="game-menu">
      <div class="tab">
        <button class="tablinks active" data-target="Search" data-openDefault>Search</button>
        <button class="tablinks" data-target="Create">Create</button>
        <button class="tablinks" data-target="Settings">Settings</button>
      </div>
      <div id="Search" class="tabcontent">
        <form id="search-form">
          <div class="input-container">
            <input id="search-field" type="text" minlength="6" maxlength="6" name="search" placeholder="ID" class="input-field" autocomplete="off" required>
            <label for="search-field" class="textholder">ID</label>
            <p id="err-msg">ID should contain only numbers</p>
          </div>
          <input type="submit" value="Search" class="styled-btn">
        </form>
        <div class="opened-room-list">
          <h3>Opened rooms</h3>
          {% for room in openedrooms %}
            <div class="room">
              <span>{{ room.roomID }}</span>
              <button class="styled-btn" onclick="connectRoom(this, {{ room.roomID }})">Connect</button>
            </div>
          {% empty %}
            <div>There are not any opened room</div>
          {% endfor %}
        </div>
      </div>
      
      <div id="Create" class="tabcontent">
        <form id="create-form">
          <label for="room-state" class="checkbox-label">Create opened room
            <input type="checkbox" id="room-state" name="openedroom" value="True">
            <span class="checkmark"></span>
          </label>
          <input type="submit" value="Create" class="styled-btn">
        </form>
      </div>

      <div id="Settings" class="tabcontent">
        <h3>Theme</h3>
        <div class="theme-block">
          <span>Light</span>
          <label class="switch">
            <input type="checkbox" id="theme-switcher">
            <span class="slider"></span>
          </label>
          <span>Dark</span>
        </div>
      </div>
    </div>
  <div class="modal-wrapper">
    <div class="modal">
      <h3>404</h3>
      <p></p>
      <input type="button" class="styled-btn" value="Ok">
    </div>
  </div>
  <div id="app-info">
    v(1.0.0)
  </div>
  <script src="{% static "scripts/menu.js" %}"></script>
</body>
</html>